{%extends 'base.html'%}
{%block search%}
{%if posts%}
<form action="{% url 'search_posts' %}" class="form-inline mx-auto my-1">
  <div class="md-form form-sm my-0">
    <input class="form-control form-control-sm mr-sm-2 mb-0" name="post_name" id="post_name" type="text" placeholder="Search Post"
      aria-label="Search">
  </div>
</form>
{%else%}
<form action="{%url 'search_users'%}" class="form-inline mx-auto my-1">
  <div class="md-form form-sm my-0">
    <input class="form-control form-control-sm mr-sm-2 mb-0" name="user_name" id="user_name" type="text" placeholder="Search Username"
      aria-label="Search Username">
  </div>
</form>
{%endif%}
{%endblock%}
{%block content%}
    {% if posts%}
      <h2 class="text-center">Found {{ posts|length }} post(s) containing term {{message}} in their name</h2>
      <div class="posts row">
        {%for post in posts%}
        <div class="mx-auto mb-2 col-md-4 col-lg-3 col-sm-12">
          <a class="post" href="/feed/post/{{post.id}}">
            <img style="min-height:160px ;" class="image img-fluid" src="{{post.image_path.cdn_url}}">
            <span class="d-flex justify-content-between details">
              <span >
              {%if post in posts_liked%}
                <i style="color: red;" class="fas fa-heart"></i>
              {%else%}
               <i class="far fa-heart"></i>
              {%endif%}
                {{post.likes}}</span><br>
              <span><i class="far fa-comment mr-1"></i>{{post.comments}}</span>
            </span>
          </a>
        </div>
        {%endfor%}
      </div>
      {%elif users%}
      <h2 class="text-center">Found {{ users|length }} user(s) containing term {{message}} in their username</h2>
      <div class="card my-5">
        <div class="card-body">
          <ul class="list-group list-group-flush">
          {% for user in users %}
          
            <li class="list-group-item">
              {%if user.profile.profile_photo%}
                <img src="{{profile.profile_photo.cdn_url}}" class="rounded-circle z-depth-0" alt="avatar image" height="35">
              {%else%}
                <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class="rounded-circle z-depth-0" alt="avatar image" height="35">
              {%endif%}
              <a class="text-dark" href=""><b class="ml-5">{{ user.username }}</b></a>
              {%if user.profile in following%}
              <small class="float-right">
                  <a class='peach-gradient unfollow-btn btn mr-2' href="/users/remove/following/{{user.id}}">Unfollow</a>
              </small>
              {%else%}
              <small class="float-right">
                <a class='follow-btn btn mr-2' href="/users/add/following/{{user.id}}">Follow</a>
              </small>
              {%endif%}
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      {%else%}
      <h2 class="text-center">Found 0 results containing term {{message}}</h2>
      {%endif%}

{%endblock %}
