{%extends "base.html"%}
{%block search%}
<form action="{% url 'search_posts' %}" class="form-inline mx-auto my-1">
  <div class="md-form form-sm my-0">
    <input class="form-control form-control-sm mr-sm-2 mb-0" name="post_name" id="post_name" type="text" placeholder="Search Post"
      aria-label="Search">
  </div>
</form>
{%endblock%}
{%block content%}

  {%if new_user%}
    <div class="row">
      <div class="card mb-3 col-4 mx-auto">
        <div class="card-body">
          <p class="card-text">Follow more users to see only their posts</p>
          <a href="{%url 'not_following'%}" class="btn btn-primary">EXPLORE USERS</a>
        </div>
      </div>
      <div class="card mb-3 col-4 mx-auto">
        <div class="card-body">
          <p class="card-text">Create new posts</p>
          <a href="{%url 'new_post'%}" class="btn btn-primary">CREATE POST</a>
        </div>
      </div>
      <div class="card mb-3 col-4 mx-auto">
        <div class="card-body">
          <p class="card-text">Edit your profile</p>
          <a href="{%url 'edit_profile'%}" class="btn btn-primary">UPDATE PROFILE</a>
        </div>
      </div>
    </div>  
    <div class="posts row">
      {%for post in all_posts%}
      <div class="mx-auto mb-2 col-md-4 col-lg-3 col-sm-12">
        <a class="post" href="/feed/post/{{post.id}}">
          <img style="min-height:160px ;" class="image img-fluid" src="{{post.image_path.cdn_url}}">
          <span class="d-flex justify-content-between details">
            <span >
            {%if post in posts_liked%}
              <i style="color: red;" class="fas fa-heart"></i>
            {%else%}
             <i class="far fa-heart"></i>
            {%endif%}
              {{post.likes}}</span><br>
            <span><i class="far fa-comment mr-1"></i>{{post.comments}}</span>
          </span>
        </a>
      </div>
      {%endfor%}
    </div>
  {%else%}
    {%if all_posts%}
      {%if following%}
        {%if following_posts%}
          {%if following_posts|length < 4%}
          <div class="row">
            <div class="card mb-3 col-4 mx-auto">
              <div class="card-body">
                <p class="card-text">Follow more users to see more posts</p>
                <a href="{%url 'not_following'%}" class="btn btn-primary">EXPLORE USERS</a>
              </div>
            </div>
          </div>
          {%endif%}
        <div class="posts row">
          {%for post in following_posts%}
          <div class="mx-auto mb-2 col-md-4 col-lg-3 col-sm-12">
            <a class="post" href="/feed/post/{{post.id}}">
              <img style="min-height:160px ;" class="image img-fluid" src="{{post.image_path.cdn_url}}">
              <span class="d-flex justify-content-between details">
                <span >
                  {%if post in posts_liked%}
                  <i style="color: red;" class="fas fa-heart"></i>
                {%else%}
                 <i class="far fa-heart"></i>
                {%endif%}
                {{post.likes}}</span><br>
                <span><i class="far fa-comment mr-1"></i>{{post.comments}}</span>
              </span>
            </a>
          </div>
          {%endfor%}
        </div>
        {%else%}
        <div class="row">
          <div class="card mb-3 col-4 mx-auto">
            <div class="card-body">
              <p class="card-text">The users you are following haven't posted in a while</p>
              <a href="{%url 'not_following'%}" class="btn btn-primary">EXPLORE USERS</a>
            </div>
          </div>
        </div>
        <div class="posts row">
          {%for post in all_posts%}
          <div class="mx-auto mb-2 col-md-4 col-lg-3 col-sm-12">
            <a class="post" href="/feed/post/{{post.id}}">
              <img style="min-height:160px ;" class="image img-fluid" src="{{post.image_path.cdn_url}}">
              <span class="d-flex justify-content-between details">
                <span >
                {%if post in posts_liked%}
                  <i style="color: red;" class="fas fa-heart"></i>
                {%else%}
                 <i class="far fa-heart"></i>
                {%endif%}
                  {{post.likes}}</span><br>
                <span><i class="far fa-comment mr-1"></i>{{post.comments}}</span>
              </span>
            </a>
          </div>
          {%endfor%}
        </div>
        {%endif%}
      {%else%}
      <div class="row">
        <div class="card col-4 mx-auto mb-3">
          <div class="card-body">
            <p class="card-text">Follow users to see only their posts</p>
            <a href="{%url 'not_following'%}" class="btn btn-primary">EXPLORE USERS</a>
          </div>
        </div>
      </div>
      <div class="posts row">
        {%for post in all_posts%}
        <div class="mx-auto mb-2 col-md-4 col-lg-3 col-sm-12">
          <a class="post" href="/feed/post/{{post.id}}">
            <img style="min-height:160px ;" class="image img-fluid" src="{{post.image_path.cdn_url}}">
            <span class="d-flex justify-content-between details">
              <span >
                {%if post in posts_liked%}
                <i style="color: red;" class="fas fa-heart"></i>
              {%else%}
               <i class="far fa-heart"></i>
              {%endif%}
                {{post.likes}}</span><br>
              <span><i class="far fa-comment mr-1"></i>{{post.comments}}</span>
            </span>
          </a>
        </div>
        {%endfor%}
      </div>
      {%endif%}
    {%else%}
    <div class="row">
      <div class="card col-4 mb-3 mx-auto">
        <div class="card-body">
          <p class="card-text">Follow users to see their posts</p>
          <a href="{%url 'not_following'%}" class="btn btn-primary">EXPLORE USERS</a>
        </div>
      </div>
      <div class="card col-4 mb-3 mx-auto">
        <div class="card-body">
          <p class="card-text">Upload new post</p>
          <a href="{%url 'new_post'%}" class="btn btn-primary">CREATE POST</a>
        </div>
      </div>
    </div>
    {%endif%}
  {%endif%}



{%endblock%}