{%extends 'base.html'%}
{% load bootstrap3 %} {% load static%}
{%block title%}
{{form.media }}
{%endblock%}
{%block search%}
<form action="{% url 'search_posts' %}" class="form-inline mx-auto my-1">
  <div class="md-form form-sm my-0">
    <input class="form-control form-control-sm mr-sm-2 mb-0" name="post_name" id="post_name" type="text" placeholder="Search Post"
      aria-label="Search">
  </div>
</form>
{%endblock%}
{%block content%}
<div class="card new_image p-5">
  <div class="text-center card-header card-header-primary">
    <h4 class="card-title">Upload post</h4>
  </div>
  <div class="card-body">
    <form  action="{%url 'new_post'%}" method="post" enctype="multipart/form-data">
      {%csrf_token%}
  
      {% bootstrap_form form%}
      <div class="text-center">
        <input type="submit" class=" btn btn-success btn-lg" value="Post">
      </div>
      
    </form>
  </div>

</div>
 

 {%endblock%}