{%extends "base.html"%}
{%load staticfiles%}
{% load bootstrap3 %} 
{%block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{%endblock%}
{%block search%}
<form action="{% url 'search_posts' %}" class="form-inline mx-auto my-1">
  <div class="md-form form-sm my-0">
    <input class="form-control form-control-sm mr-sm-2 mb-0" name="post_name" id="post_name" type="text" placeholder="Search Post"
      aria-label="Search">
  </div>
</form>
{%endblock%}
{%block content%}
<div class="card mb-5">
    <div class="post">
      <div class="name">
        {%if post.profile.profile_photo%}
        <img src="{{post.profile.profile_photo.cdn_url}}" width="5%" height="5%" class="profile-img"/>
        {%else%}
          <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class="rounded-circle z-depth-0"
          alt="avatar image" width="5%" height="5%" >
        {%endif%}  
        <p class="ml-3">{{post.profile.user.username}}</p>
      </div>
      {%ifequal post.profile.user_id profile.user_id%}
      <a href=""><i class="fas fa-pen"></i></a> 
      <a href="/feed/post/{{post.id}}/delete/"><i class="far fa-trash-alt"></i></a>
      {%else%}
      <img src="https://image.flaticon.com/icons/svg/149/149947.svg" width="3%" style="opacity:0.5;"/>
      {%endifequal%}
    </div>
    <div class="post-image" >
      <img src="{{post.image_path.cdn_url}}" width="100%" height="100%"/>
    </div>
    <div class="likes">
      <div class="left-icons">
      {%if post in posts_liked%}
        <a href="/feed/post/{{post.id}}/like/" ><i style="color: red;" class="fas fa-heart"></i></a> 
      {%else%}
        <a href="/feed/post/{{post.id}}/like/"><i style="color: black;" class="far fa-heart"></i></a>
      {%endif%}
        <a style="color: black;" href="#comment"><i class="far fa-comment"></i></a> 
        <i class="far fa-paper-plane"></i>
      </div>
      <i class="far fa-bookmark align-right"></i>
    </div>
    <div class="like-count">
      <p>{{post.likes}} likes</p>
    </div>
    <div class="comments">
      {%if comments%}
        {%if comments|length > 3 %}
          {%for comment in comments|slice:"0:3"%}
          <div class="comment">
            <div class="name">
              {%if comment.profile.profile_path %}
              <img src="{{comment.profile.profile_path.cdn_url}}" width="5%" height="5%" class="profile-img"/>
              {%else%}
              <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class="rounded-circle z-depth-0"
              alt="avatar image" width="5%" height="5%">
              {%endif%}  
              <p class="ml-3">{{comment.profile.user.username}}</p>
              <p class="ml-5" style="font-weight: normal;">{{comment.comment}}</p>
            </div>
          </div>
          {%endfor%}
          <div id="hidden-comments" class="hidden-comments">
          {%for comment in comments|slice:"3:"%}
          <div class="comment">
            <div class="name">
              {%if comment.profile.profile_path %}
              <img src="{{comment.profile.profile_path.cdn_url}}" width="5%" height="5%" class="profile-img"/>
              {%else%}
              <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class="rounded-circle z-depth-0"
              alt="avatar image" width="5%" height="5%">
              {%endif%}  
              <p class="ml-3">{{comment.profile.user.username}}</p>
              <p class="ml-5" style="font-weight: normal;">{{comment.comment}}</p>
            </div>
          </div>
          {%endfor%}
          </div>
          <p class="ml-3 text-muted" id="view-all-comments" style="font-weight: normal;">View all {{post.comments}} comments</p>
          <p class="ml-3 text-muted" id="view-less-comments" style="font-weight: normal;">View less comments</p>
        {%else%}
        {%for comment in comments%}
        <div class="comment">
          <div class="name">
            {%if comment.profile.profile_path %}
            <img src="{{comment.profile.profile_path.cdn_url}}" width="5%" height="5%" class="profile-img"/>
            {%else%}
            <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class="rounded-circle z-depth-0"
            alt="avatar image" width="5%" height="5%">
            {%endif%}  
            <p class="ml-3">{{comment.profile.user.username}}</p>
            <p class="ml-5" style="font-weight: normal;">{{comment.comment}}</p>
          </div>
        </div>
        {%endfor%}
        {%endif%}
  
      {%else%}
      <div class="comment">
        <div class="name">
          <p>No comments</p>
        </div>
      </div>
      {%endif%}
   
    </div>
    <p style="font-size: 0.8rem" class="pl-2 text-muted">{{post.upload_date|timesince}} ago</p>
    <div id="comment" class="comment-form">
      <form class="text-center" action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row no-gutters">
          <div class="col-10">
            <input type="hidden" id="post_id" class="" value="{{post.id}}">
            {% bootstrap_form form%}
          </div>
          <div class="col-2">
            <input type="submit" style="border: 0;" id="defaultLoginFormEmail" class="form-control" value="Post">
          </div>
        </div>
      </form>
    </div>
    
  </div>  
{%endblock%}
{%block scripts%}
<script>
  $(document).ready(()=>{
    $('#view-all-comments').click(()=>{
      $('#hidden-comments').toggle()
      $('#view-less-comments').toggle()
      $('#view-all-comments').hide()
    })
    $('#view-less-comments').click(()=>{
      $('#hidden-comments').toggle()
      $('#view-less-comments').toggle()
      $('#view-all-comments').show()
    })
  })
</script>

{%endblock%}