{%extends 'base.html'%}
{%block search%}
<form action="{%url 'search_users'%}" class="form-inline mx-auto my-1">
  <div class="md-form form-sm my-0">
    <input class="form-control form-control-sm mr-sm-2 mb-0" name="user_name" id="user_name" type="text" placeholder="Search Username"
      aria-label="Search Username">
  </div>
</form>
{%endblock%}
{%block content%}
<div class="card my-5">
  <div class="card-body">
    {%if not_following%}  
    <ul class="list-group list-group-flush">
    {% for profile in not_following %}
    
      <li class="list-group-item">
        {%if profile.profile_photo%}
          <img src="{{profile.profile_photo.cdn_url}}" class="rounded-circle z-depth-0" alt="avatar image" height="35">
        {%else%}
          <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" class="rounded-circle z-depth-0" alt="avatar image" height="35">
        {%endif%}
        <a class="text-dark" href=""><b class="ml-5">{{ profile.user.username }}</b></a>
        <small class="float-right">
            <a class='follow-btn btn mr-2' href="/users/add/following/{{profile.user_id}}">Follow</a>
        </small>
      </li>
    {% endfor %}
    </ul>
    {% else %}
    <div class="row">
      <div class="card mb-3 col-4 mx-auto">
        <div class="card-body">
          <p class="card-text">Sorry, seems like there are no more users to follow</p>
          <a href="" class="btn btn-primary">INVITE FRIENDS</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
  
{%endblock%}